<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="zocdoc_logs" connectionString="Data Source=.;Initial Catalog=zocdoc_logs;Persist Security Info=True;Trusted_Connection=yes" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
