<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="zdocWriteAccess" connectionString="Data Source=.;Initial Catalog=zocdoc;Persist Security Info=True;Trusted_Connection=yes" providerName="System.Data.SqlClient"/>
    <add name="zdocSecondaryCS" connectionString="Data Source=.;Initial Catalog=zocdoc_secondary;Persist Security Info=True;Trusted_Connection=yes" providerName="System.Data.SqlClient"/>
    <add name="zdocCS" connectionString="Data Source=.;Initial Catalog=zocdoc;Persist Security Info=True;Trusted_Connection=yes" providerName="System.Data.SqlClient"/>
    <add name="ReportingConnectionString" connectionString="Data Source=.;Initial Catalog=reporting;Persist Security Info=True;Trusted_Connection=yes" providerName="System.Data.SqlClient"/>
    <add name="zdocCrawlCS" connectionString="Data Source=.;Initial Catalog=crawlDB;Persist Security Info=True;Trusted_Connection=yes" providerName="System.Data.SqlClient"/>
    <add name="zocdoc_logging" connectionString="Data Source=.;Initial Catalog=zocdoc_logging;Persist Security Info=True;Trusted_Connection=yes" providerName="System.Data.SqlClient"/>
    <add name="zocdoc_logs" connectionString="Data Source=.;Initial Catalog=zocdoc_logs;Persist Security Info=True;Trusted_Connection=yes" providerName="System.Data.SqlClient"/>
    <add name="zocdoc_monitor" connectionString="Data Source=.;Initial Catalog=zocdoc_monitor;Persist Security Info=True;Trusted_Connection=yes" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>