<!doctype html>
<html class="no-js">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="CACHE-CONTROL" content="NO-CACHE">
    <title>@(!string.IsNullOrEmpty((string)ViewData["PageTitle"]) ? string.Format("{0} | ", ViewData["PageTitle"]) : string.Empty)ZocMon</title>   
</head>
    @RenderBody()
</html>
